<%= form_for(@assignment, :url => new_event_assignment_path(@event, @assignment)) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-boxes">
    <div id="left">
      <div class="field">
        <h5>Available <span>Groups</span></h5>
         <%= select(nil, "left_side", groups_with_people_options(@group)  ,
                    {:include_blank => false, :selected_key => nil},
                    {:multiple => true, :size => 8}) %>
      </div>  
    </div>
    <div id="middle">
      <%= submit_tag '<', :confirm => 'Are you sure?  This will copy the selected group(s)/location(s) on the right (and all of its children) to the selected group on the left.' %>
    </div>
    <div id="right">
      <div class="field">
        <h5>Unassigned <span>People</span></h5>
        <%= f.collection_select(:person, 
                                Person.find(:all, 
                                            :conditions => {:event_id => @event.id}),
                                :id,
                                :full_name,
                                {:include_blank => false, :selected_key => nil},
                                {:multiple => true, :size => 8}) %>
     </div>
   </div>
  </div>                           
  
<% end %>
