<%= form_for(@assignment, :url => event_assignments_path(@event), :remote => true) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag 'assign_action', '' %>
  <div class="form-boxes">
    <div id="left">
      <div class="field">
        <h4>Available <span>Groups</span></h4>
        <div id="left_side_container">
          <%= render 'left_side' %>
        </div>
      </div>
      <div class="actions">
        <%= submit_tag 'Select Group', :id => 'drilldown', :onclick => 'document.getElementById("assign_action").value = "Select Group";' %>    
      </div>    
    </div>
    <div id="middle">
      <%= submit_tag '<--', :id => 'assign', :onclick => 'document.getElementById("assign_action").value = "<--";' %>
      <%= submit_tag '-->', :id => 'unassign', :onclick => 'document.getElementById("assign_action").value = "-->";' %>
    </div>
    <div id="right">
      <div class="field">
        <h4>Unassigned <span>People</span></h4>
        <div id="right_side_container_with_sort">
          <%= render 'right_side_with_sort' %>
        </div>
     </div>
   </div>
  </div>
<% end %>
