<%= form_for(@assignment, :url => event_assignments_path) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-boxes">
    <div id="left">
      <h5>Available <span>Groups</span></h5>
      <%= render(:partial => "shared/select",
                 :object  => @group,
                 :locals  => { :f         => f,
                               :selection => :id,
                               :size      => 8}) %>
     </div>
    <div id="middle">
      <%= submit_tag '<', :confirm => 'Are you sure?  This will copy the selected group/location on the right (and all of its children) to the selected group on the left.' %>
    </div>
    <div id="right">
      <div class="field">
        <h5>Unassigned <span>People</span></h5>
        <%= f.select :person, @remote_registrants,             
             {:include_blank => false, :selected_key => nil},
             {:multiple => true, :size => 8} %>
        
     </div>
   </div>
  </div>                           
  
<% end %>
