<%= form_for(:group, :url => "/groups/disambiguate") do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-boxes">
    <div id="left">
      <%= render(:partial => "shared/object_edit_control",
                 :object  => @group,
                 :locals  => {:f => f,
                              :destroy_confirm_message => "Are you sure? All subgroups and assignments will be deleted!",
                              :active_object_id => @group.id,
                              :multiple => false,
                              :select_field => :parent_id,
                              :select_size  => 16}) %>
    </div>
    <div id="middle">
      <%= submit_tag '<', :confirm => 'Are you sure?  This will copy the selected group/location on the right (and all of its children) to the selected group on the left.' %>
    </div>
    <div id="right">
      <div class="field">
        <h5>Available <span>Groups</span></h5>
        <%= render(:partial => "shared/select",
           :object  => @available_groups,
           :locals  => { :f         => f,
                         :selection => :id,
                         :multiple => true,
                         :size      => 8}) %>
      </div>
      <div class="field">
        <h5>Available <span>Locations</span></h5>
        <%= render(:partial => "shared/select",
           :object  => @location,
           :locals  => { :f         => f,
                         :selection => :location,
                         :multiple => true,
                         :size      => 6}) %>
      </div>
    </div>
  </div>
<% end %>
