<h5>Active <span><%= object_edit_control.class %></span></h5>
<%= f.hidden_field "active_object_id", :value => active_object_id %>

<div class="field">
  <%= render(:partial => "shared/select",
             :object  => object_edit_control,
             :locals  => { :f         => f,
                           :selection => select_field,
                           :multiple => multiple,
                           :size      => select_size}) %>
</div>

<div class="actions">
  <%= submit_tag 'New' %>
  <%= submit_tag 'Clone' %>
  <%= submit_tag 'Edit' %>
  <%= submit_tag 'Delete', {:confirm => destroy_confirm_message} %>
</div>