<% content_for :title do "GAC - Editing #{Group.find(@event.group_id).name}" end %>

<h3 class="normal-case"><span><%= Group.find(@event.group_id).name %></span></h3>
  <h5 class="normal-case">
    <% if @event.start_date and @event.end_date %>
      <span><%= @event.start_date %> - <%= @event.end_date %></span>
    <% end %>
    <% if @event.location_id %>
      at <span><%= Location.find(@event.location_id).name %></span>  
    <% end %>
  </h5>

<% if notice %>
  <div id="notice"><p><%= notice %></p></div>
<% end %>

<% if true %><%= render 'form' %><% end %>

<%= form_for(:group, :url => "/groups/disambiguate") do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-boxes">
    <div id="left">
      <h5>Active <span>Groups</span></h5>
      <%= f.hidden_field :event_group_id, :value => @event.group_id %>
      <div class="field">
        <%= f.select :parent_id, nested_set_options(@group) {|i| "#{'---' * (i.level)}#{i.name}" }, {:include_blank => false}, {:multiple => true} %>
      </div>
      <div class="actions">    
        <%= submit_tag 'New' %>
        <%= submit_tag 'Edit' %>
        <%= submit_tag 'Delete', :confirm => 'Are you sure? All subgroups and assignments will be deleted!' %>
      </div>
    </div>
    <div id="middle">
      <%= submit_tag '<', :confirm => 'Are you sure?  This will copy the selected group/location on the right (and all of its children) to the selected group on the left.' %>
    </div>
    <div id="right">
      <div class="field">
        <h5>Available <span>Groups</span></h5>
        <%= f.select :id, nested_set_options(@available_groups) {|i| "#{'---' * (i.level)} #{i.name}" }, {:include_blank => false}, {:multiple => true} %>
      </div>
      <div class="field">
        <h5>Available <span>Locations</span></h5>
        <%= f.select :location_id, nested_set_options(@location) {|i| "#{'---' * (i.level)} #{i.name}" }, {:include_blank => false}, {:multiple => true} %>
      </div>
    </div>
  </div>

<% end %>
