<% content_for :title do "GAC - Editing #{@group.name}" end %>

<h3>Setting Up <span class="normal-case"><%= @group.name %></span></h3>
  <h4>
    <% if @event.start_date %>
      <span class="normal-case"><%= render(:partial => "date_range", :object  => @event) %></span>
    <% end %>
    <% if @event.location_id %>
      at 
      <span class="normal-case"> <%= @location.name %></span>  
    <% end %>
    <% if @event.remote_report_id %>
      [<%= link_to "Make Assignments", new_event_assignment_path(@event) %>]
    <% end %>
  </h4>

<% if notice %>
  <div id="notice"><p><%= notice %></p></div>
<% end %>

<%= render 'form' %>

<%= render 'groups/builder' %>