<% content_for :title do "GAC - Editing #{Group.find(@event.group_id).name}" end %>

<h3 class="normal-case"><span><%= Group.find(@event.group_id).name %></span></h3>
  <h5 class="normal-case">
    <% if @event.start_date %>
      <span><%= render(:partial => "date_range", :object  => @event) %></span>
    <% end %>
    <% if @event.location_id %>
      at 
      <span> <%= Location.find(@event.location_id).name %></span>  
    <% end %>
  </h5>

<% if notice %>
  <div id="notice"><p><%= notice %></p></div>
<% end %>

<%= render 'form' %>

<%= render 'groups/builder' %>