<% content_for :title do "GAC - Editing #{Group.find(@event.group_id).name}" end %>

<h3 class="normal-case"><%= Group.find(@event.group_id).name %></h3>
  <h5 class="normal-case">
    <% if @event.start_date and @event.end_date %>
      <%= @event.start_date %> - <%= @event.end_date %>
    <% end %>
    <% if @event.location_id %>
      at <%= Location.find(@event.location_id).name %>  
    <% end %>
  </h5>

<% if true %><%= render 'form' %><% end %>

<%= form_for(:group, :url => "/groups/disambiguate") do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-boxes">
    <h4 class="normal-case">Groups</h4>
    <div id="left">
      <div class="field">
        <%= f.select :parent_id, nested_set_options(@group) {|i| "#{'---' * (i.level)} #{i.name}" }, {:include_blank => false}, {:multiple => true} %>
      </div>
      <div class="actions">    
        <%= submit_tag 'New' %>
        <%= submit_tag 'Edit' %>
        <%= submit_tag 'Delete', :confirm => 'Are you sure? All subgroups and assignments will be deleted!' %>
      </div>
    </div>
    <div>
      <p>Placeholder for Button</p>
    </div>
    <div id="right">
      <div class="field">
        <%= f.select :parent_id, nested_set_options(Group) {|i| "#{'---' * (i.level)} #{i.name}" }, {:include_blank => false}, {:multiple => true} %>
      </div>
    </div>
  </div>

<% end %>
