<% content_for :title do "GAC Events" end %>

<h3>events</h3>

<table>
  <tr>
    <th>Event/Group</th>
    <th>Location</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to Group.find(event.group_id).name, edit_event_path(event) %></td>
    <td><% if event.location_id %>
          <%= Location.find(event.location_id).name %>
        <% end %></td>
    <td><%= event.start_date.strftime("%b %d, %Y") if event.start_date %></td>
    <td><%= event.end_date.strftime("%b %d, %Y") if event.end_date %></td>
    <td><%= Status.find(event.status_id).status %></td>
  </tr>
<% end %>
</table>