<% content_for :title do "GAC - Editing #{@location.name}" end %>

<h3>Editing location</h3>

<%= render 'form' %>

<%= form_for(@location, :url => "/locations/disambiguate") do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-boxes">
    <div id="left">
      <h5>Active <span>Location</span></h5>
      <%= f.hidden_field :location_id, :value => @location.id %>
      <div class="field">
        <%= f.select :parent_id, nested_set_options(@location) {|i| "#{'---' * (i.level)}#{i.name}" }, {:include_blank => false}, {:multiple => false, :size => 16} %>
      </div>
      <div class="actions">
        <%= submit_tag 'New', {:disabled => true} %>
        <%= submit_tag 'Edit', {:disabled => true} %>
        <%= submit_tag 'Delete', {:confirm => 'Are you sure? All subgroups and assignments will be deleted!', :disabled => true} %>
      </div>
    </div>
  </div>
<% end %>