<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @location.id %>
</p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<% if @location.parent %>
<p>
  <b>Parent:</b>
  <%= @location.parent.name %>
</p>
<% end %>

<p>
  <b>Capacity:</b>
  <%= @location.capacity %>
</p>

<p>
  <b>Comment:</b>
  <%= @location.comment %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %> |
<%= link_to 'New Child', new_child_location_path(@location) %>
