<!DOCTYPE html>
<html>
<head>
  <title>Gac</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <img src="/images/DM_logo_small_white_trans.png">
    <div id="header_inner">
      <div id="logo">
        <h1>Disciple<i>Makers'</i> Group Assignment Center</h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="#">Assign</a></li>
          <li><a class="active" href="#" disabled>Setup</a></li>
        </ul>
      </div>
    </div>
  </div>


<div id="main">
  <div id="main_inner" class="fixed">
    <div id="main_utility">
      <div id="logout">
        <%= link_to 'Logout', logout_path, :method => :delete %>
      </div>
    </div>
    <div id="primaryContent_2columns">
      <div id="columnA_2columns">
          <%= yield %>
      </div>
    </div>
    
    <% if session[:username] %>
      <div id="secondaryContent_2columns">
        <div id="columnC_2columns">
          
          <div id="events">
            <h4>Active <span>Events</span></h4>
            <ul class="links">
            <%= render @sidebar_events %>
            </ul>
          </div>
          
          <div id="locations">
            <h4>Available <span>Locations</span></h4>
            <ul class="links">
            <%= render @sidebar_locations %>
            </ul>
          </div>
          
        </div>
      <br class="clear" />
      </div>
    <% end %>
    
  </div>
</div>

<div id="footer" class="fixed">
  Copyright &copy; 2011 <a href="http://www.dm.org">Disciple<i>Makers</i></a>, Inc. All Rights Reserved.
</div>

</body>
</html>
